body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  min-width: 80vw;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px; /* Adjust font size for better readability */
}

.input-field.large {
  min-height: 65vh; /* Large enough for multiple paragraphs */
  height: auto; /* Adjusts height based on content */
  font-size: 18px; /* Slightly larger font for the large input */
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

.button-group {
  margin: 15px;
  display: inline-block;
}

.button-group button {
  width: 100px;
  margin: 0 5px;
  background-color: gray;
}