datetime
# pathlib is builtin to later versions of python
#pathlib
numpy
matplotlib
seaborn
tensorflow

scikit-learn

# dataframe
pandas
# yahoo finance
yfinance
# open ai
openai
# plat
plotly
# ???
nbformat
# old gcp ai api?
google-cloud-aiplatform

# square api
squareup
#square-python-sdk via git
#git+https://github.com/square/square-python-sdk.git

# for secure random uuids
uuid

# langchain api
langchain
# allows .env file in current dir
python-dotenv
# ?
shapely<2.0.0


# for sergei RAG work
langchain 
# openai 
chromadb 
langchainhub 
# python-dotenv  
# for sqlite database
pysqlite3-binary 
# its to load documents into memory?
unstructured[all-docs] 
# a tokennizer
tiktoken
