<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>BALSA</title>
  </head>

  <body>
    <H1>
      Welcome to BALSA
    </H1>
    <P> Basic Assembly Language Source Assist </P>
    <P> BALSA is a Prompt Engineering tool for 1960s era IBM Assembler.  It can provide code samples, explain assembly code on an individual instruction
      basis, commentary for small sequences of instructions and provide insight to poorly written assembly code.  In all cases, assembly refers
      to BAL assembly.
    </P>

    <div class="container">
      <p></p>
      <P> In order to demo the BAL Source Assistant, please login.</P>
      <P> <a href="https://github.com/rtp-gcp/BALSA">Here</a> is the source code for this webapp </P>
      <a href="{{ url_for('auth.login') }}">login</a>
      <a href="static/html/privacy.html">privacy</a>
      <a href="static/html/tos.html">terms of service</a>
    </div>
  </body>
</html>
