<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>BALSA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <P> Welcome to BALSA </P>
      <P> Basic Assembly Language Source Analyser? </P>
      <P> Basic Assembly Language Source Assistant? </P>
      <P> In order to demo the BAL Source Assistant, please login.</P>
      <P> <a href="https://github.com/rtp-gcp/BALSA">Here</a> is the source code for this webapp </P>
      <a href="{{ url_for('auth.login') }}">login</a>
      <a href="static/html/privacy.html">privacy</a>
      <a href="static/html/tos.html">terms of service</a>
    </div>
  </body>
</html>
